* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


/* TAG */
a {
    text-decoration: none;
}

h3 {
    text-align: center;
    padding-bottom: 7px;
}

/* Classi generiche */
.white {
    color: white;
}

.red {
    color: red;
}

.bold {
    font-weight: 600;
}

.sbarra {
    text-decoration: line-through;
}

.paddingRL {
    padding: 0 4px;
}

.iconSize {
    font-size: 20px;
    padding: 0px 6px;
}

.absolute {
    position: absolute;
}

/* Classi Header */
.navBar {
    display: flex;
    position: fixed;
    background-color: #FF6801;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.logo {
    width: 140px;
}

/* Classi Main */
.container {
    padding: 130px 13% 0 13%;
    display: flex;
    justify-content: space-between;
}

.container2 {
    padding: 100px 13% 0 13%;
    display: flex;
    justify-content: space-between;
}

.bgCard {
    height: 650px;
    width: 32%;
    /* background-color: gray; */
    position: relative;
}

.imgProdotto {
    height: 650px;
    width: 100%;
}


.card {
    height: 650px;
    width: 100%;
    /* background-color: orange; */
    position: absolute;
}

.hover:hover {
    visibility: hidden;
    pointer-events:none;
}


.heart {
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    top: 12px;
    right: 0px;
    text-align: center;
}

.sostenibile {
    height: 27px;
    width: 115px;
    top: 580px;
    right: 287px;
    background-color: #008001;
    position: absolute;
    text-align: center;
    padding-top: 5px;
}

.sconto {
    height: 27px;
    width: 54px;
    background-color: #FF0000;
    position: absolute;
    top: 580px;
    right: 405px;
    text-align: center;
    padding-top: 5px;
}

.heartP {
    padding-top: 25px;
    color: black;
}

.cardInfo {
    height: 100px;
    width: 400px;
    position: absolute;
    top: 652px;
    font-size: 14px;
}

/* Classi footer */

.foot {
    background-color: #1A1A1A;
    display: flex;
    margin-top: 114px;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}